Repository pixeltable/pixeltable, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mkornacker, @aaron-siegel, @pierrebrunelle, @goodlux

dataclass
  tool/perftest_providers.py
Owners: @mkornacker, @aaron-siegel

addressing review comments
  tool/perftest_providers.py
Owners: @mkornacker, @aaron-siegel

cleanup
  tool/perftest_providers.py
Owners: @mkornacker, @aaron-siegel

PXT-661 PXT-662 Adding checks for dropping columnns used by view predicates and dropping the last column
  pixeltable/catalog/table.py
  tests/test_table.py
Owners: @mkornacker, @aaron-siegel

Add unit test for embedding indices
  pixeltable/exprs/function_call.py
  pixeltable/func/expr_template_function.py
  tests/test_function.py
Owners: @mkornacker, @aaron-siegel

Reorganize validation logic for FunctionCall deserialization
  pixeltable/exprs/function_call.py
  pixeltable/func/expr_template_function.py
  tests/test_function.py
Owners: @mkornacker, @aaron-siegel

addressing review comment
  tool/perftest_providers.py
Owners: @mkornacker, @aaron-siegel

add more usecases to tests
  tests/test_table.py
Owners: @mkornacker, @aaron-siegel

Performance test for chat completion integrations (#746)
  tool/perftest_providers.py
Owners: @mkornacker, @aaron-siegel

Fix test env, use reset_db and reuse pgserver than shutting it down multiple times
  tests/test_env.py
Owners: @mkornacker, @aaron-siegel

A potential fix.
  pixeltable/io/fiftyone.py
Owners: @mkornacker, @aaron-siegel

Raise the level of Label Studio server used for testing.
  tests/io/test_label_studio.py
Owners: @mkornacker, @aaron-siegel

Convert stored_img_cols from a method to a property.
  pixeltable/exprs/row_builder.py
  pixeltable/plan.py
Owners: @mkornacker, @aaron-siegel

Fix lint.
  tests/io/test_label_studio.py
Owners: @mkornacker, @aaron-siegel

RequestRateScheduler improvements
  pixeltable/config.py
  pixeltable/exec/expr_eval/globals.py
  pixeltable/exec/expr_eval/schedulers.py
  pixeltable/functions/anthropic.py
  pixeltable/functions/deepseek.py
  tool/perftest_providers.py
Owners: @mkornacker, @aaron-siegel

linter errors
  pixeltable/config.py
  pixeltable/exec/expr_eval/globals.py
  pixeltable/exec/expr_eval/schedulers.py
  tool/perftest_providers.py
Owners: @mkornacker, @aaron-siegel

review comments adding progress bar and retries to presigned url uploads/downloads
  pixeltable/env.py
  pixeltable/share/packager.py
  pixeltable/share/publish.py
Owners: @mkornacker, @aaron-siegel

Remove Pydantic dependency in pytest configuration
  pyproject.toml
Owners: @mkornacker, @aaron-siegel

Makefile updates
  Makefile
Owners: @mkornacker, @aaron-siegel

Update test_groq.py
  tests/functions/test_groq.py
Owners: @mkornacker, @aaron-siegel

Renaming getting rid of wrapper function
  pixeltable/share/publish.py
Owners: @mkornacker, @aaron-siegel

add access to create_replica
  pixeltable/globals.py
  pixeltable/share/publish.py
Owners: @mkornacker, @aaron-siegel

Bugfixes related to missing dependencies (#747)
  pixeltable/exprs/function_call.py
  pixeltable/func/expr_template_function.py
  pixeltable/functions/huggingface.py
  pixeltable/iterators/document.py
  tests/conftest.py
  tests/test_function.py
Owners: @mkornacker, @aaron-siegel

Makefile and pytest improvements (#753)
  Makefile
  pyproject.toml
Owners: @mkornacker, @aaron-siegel

Update dev version of onnx
  uv.lock
Owners: @mkornacker, @aaron-siegel

Update dev version of onnx
  uv.lock
Owners: @mkornacker, @aaron-siegel

Suggested README updates
  README.md
Owners: @mkornacker, @aaron-siegel

Review comments adding tests for snapshots
  pixeltable/catalog/table.py
  tests/test_snapshot.py
  tests/test_table.py
Owners: @mkornacker, @aaron-siegel

More updates
  README.md
Owners: @mkornacker, @aaron-siegel

review comments #2
  pixeltable/globals.py
  pixeltable/share/publish.py
Owners: @mkornacker, @aaron-siegel

Update dev version of onnx (#755)
  uv.lock
Owners: @mkornacker, @aaron-siegel

check for predicate = None
  pixeltable/catalog/table.py
Owners: @mkornacker

review comments
  pixeltable/env.py
  pixeltable/globals.py
  tests/test_env.py
Owners: @mkornacker, @aaron-siegel

updated docs
  docs/mintlify/docs/overview/configuration.mdx
  pixeltable/functions/deepseek.py
  pixeltable/functions/gemini.py
Owners: @mkornacker, @aaron-siegel, @pierrebrunelle, @goodlux

review comments adding mutable_only param to _get_views
  pixeltable/catalog/table.py
  tests/test_table.py
Owners: @mkornacker, @aaron-siegel

Fix to pytest configuration
  Makefile
  pyproject.toml
Owners: @mkornacker, @aaron-siegel

Pytest configuration fix (#756)
  Makefile
  pyproject.toml
Owners: @mkornacker, @aaron-siegel

Add back default db name
  pixeltable/env.py
Owners: @mkornacker, @aaron-siegel

format checks
  pixeltable/catalog/table.py
  tests/test_table.py
Owners: @mkornacker, @aaron-siegel

Updates
  README.md
Owners: @mkornacker, @aaron-siegel

.github/CODEOWNERS:

# Global owners
* @mkornacker @aaron-siegel
pixeltable/catalog/** @mkornacker

# Docs owners
/docs/mintlify/** @mkornacker @aaron-siegel @pierrebrunelle @goodlux
/docs/sample-apps/** @mkornacker @aaron-siegel @pierrebrunelle @goodlux
